@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

::-webkit-scrollbar {
  display: none;
}


@keyframes gradient-x {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 400% 400%;
  animation: gradient-x 5s ease infinite;
}

.loader {
  border: 15px solid #e5e7eb;
  border-top: 15px solid #22c55e;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width : 600px) {

  .loader {
    width: 60px;
    height: 60px;
    border: 10px solid #e5e7eb;
    border-top: 10px solid #22c55e;

  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(40deg);
  }

  20% {
    transform: rotate(-20deg);
  }

  30% {
    transform: rotate(40deg);
  }

  40% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(40deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.wave {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave 2s infinite;
}

@keyframes moveText {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.scroll-text {
  display: inline-block;
  white-space: nowrap;
  animation: moveText 15s linear infinite;
}

.parrent:hover .child {

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 18px 30px;
  border-radius: 4px;
  color: rgb(64, 64, 64);

}