@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

::-webkit-scrollbar {
  display: none;
}


@keyframes gradient-x {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 400% 400%;
  animation: gradient-x 5s ease infinite;
}

.loader {
  border: 15px solid #e5e7eb;
  border-top: 15px solid #22c55e;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width : 600px) {

  .loader {
    width: 60px;
    height: 60px;
    border: 10px solid #e5e7eb;
    border-top: 10px solid #22c55e;

  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(40deg);
  }

  20% {
    transform: rotate(-20deg);
  }

  30% {
    transform: rotate(40deg);
  }

  40% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(40deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.wave {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave 2s infinite;
}

@keyframes moveText {
  0% {
    transform: translateX(-60%);
  }

  100% {
    transform: translateX(100%);
  }
}

.scroll-text {
  display: flex;
  animation: moveText 30s linear infinite;
}

.parrent:hover .child {

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 18px 30px;
  border-radius: 4px;
  color: rgb(64, 64, 64);

}

.teacher {
  position: relative;
  display: inline-block;
}

.student {
  position: absolute;
  width: 50px;
  top: 30px;
  right: 15px;
  text-align: center;
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.teacher:hover .student {
  opacity: 1;
}

.blog-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.blog-track {
  display: flex;
  width: calc(350px * 10);
  animation: scroll-right 30s linear infinite;
}

.blog-card {
  min-width: 350px;
  height: 52vh;
  background: white;
  border-radius: 10px;
  margin-right: 2rem;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.blog-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-card .content {
  padding: 1rem;
}

.blog-card h2 {
  color: #15803d;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.blog-card p {
  color: #555;
  font-size: 14px;
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

.blog-track:hover {
  animation-play-state: paused;
}

.my-calendar {
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  width: 100%;
  max-width: 380px;
}

.my-calendar .react-calendar__tile {
  border-radius: 5px;
  transition: 0.3s ease;

}

.my-calendar .react-calendar__tile--active {
  background: #0057d8 !important;
  color: white !important;
  border-radius: 5px;

}

.my-calendar .react-calendar__navigation button {
  color: #333;
  font-size: 17px;
  font-weight: 600;

}

.my-calendar .react-calendar__navigation button:hover {
  background: #f0f0f0;
  border-radius: 5px;
}

.my-calendar .react-calendar__month-view__weekdays__weekday {
  text-transform: uppercase;
  font-weight: 800px;
  font-size: 12px;
}

.my-calendar .react-calendar__tile--now {
  background: #cdffdc;
}

@media (max-width : 600px) {

  .blog-card {
    min-width: 150px;
     margin-right: 1rem;
     height: 59vh;
    
  }

  .blog-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

}